body {
  margin:0;
  font-family:Arial;
}

/* IMAGEN GANADERA GLOBAL */
.login, .main {
  background: url("images/fondo.jpg") center/cover no-repeat;
}

/* LOGIN */
.login {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box {
  background:rgba(0,0,0,0.7);
  padding:30px;
  border-radius:15px;
  color:white;
}

/* LAYOUT */
.layout {
  display:flex;
  height:100vh;
}

.sidebar {
  width:230px;
  background:rgba(0,0,0,0.9);
  color:white;
  padding:20px;
  display:flex;
  flex-direction:column;
}

.sidebar button {
  background:#2ecc71;
  margin:5px 0;
  padding:10px;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
}

/* BOTONES ROJOS */
.btn-red {
  background:red !important;
  color:white;
}

/* MAIN */
.main {
  flex:1;
  padding:40px;
  color:white;
  position:relative;
}

.main::before {
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.6);
}

.main * {
  position:relative;
  z-index:1;
}

/* TARJETAS */
.card {
  background:rgba(255,255,255,0.15);
  padding:20px;
  border-radius:10px;
  max-width:600px;
}

/* INPUTS */
input {
  width:100%;
  margin:5px 0;
  padding:10px;
}

/* RESULTADO */
.resultado {
  margin-top:15px;
  padding:15px;
  background:rgba(0,0,0,0.7);
  border-radius:10px;
}

/* HISTORIAL */
#historial div {
  background:white;
  color:black;
  padding:10px;
  margin:10px 0;
  border-radius:8px;
}

/* CHATBOT */
#chatBotBtn {
  position:fixed;
  bottom:20px;
  right:20px;
  background:#2ecc71;
  color:white;
  font-size:25px;
  padding:15px;
  border-radius:50%;
  cursor:pointer;
}

#chatBox {
  position:fixed;
  bottom:80px;
  right:20px;
  width:300px;
  background:white;
  border-radius:10px;
  display:none;
  flex-direction:column;
}

.chat-header {
  background:#2ecc71;
  color:white;
  padding:10px;
}

#chatMessages {
  height:200px;
  overflow:auto;
  padding:10px;
  color:black;
}

.chat-input {
  display:flex;
}

.chat-input input {
  flex:1;
  border:none;
}

.chat-input button {
  background:#2ecc71;
  color:white;
}
